body, html {
    padding: 0;
    margin: 0;
    top: 0;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Lato', sans-serif;
}

.text {
    padding: 1.5em 50px 0 50px;
}

.text p {
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 1.5em;
    font-size: 16px;
}

.text-right {
    text-align: right;
}

.code-side {
    background-color: #272822;
    font-size: 16px;
    line-height: 1.5em;
    padding: 1.5em 0;
}

@media screen and (min-width: 48em) {
    .text {
        padding: 0 50px;
    }

    .code-side {
        padding: 0;
    }
}

.repo {
    font-size: 4.5em;
    color: #ccc;
    float: right;
    margin: 30px;
}

.what {
    float: left;
    font-size: 0.25em;
    font-weight: 600;
    margin: 10px 0 0 0;
    width: 200px;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #272822;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.02) 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local; */
    margin: .5em 0px;
    padding: 0px 2em;
    border-radius: 0;
    margin-bottom: 0em;
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.5em;
}